<div class="container mt-5" style="max-width: 400px;">
  <h2 class="mb-4">Accedi</h2>
  <form (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password" required />
    </div>
    <button type="submit" class="btn btn-primary w-100">Accedi</button>
  </form>
</div>
