<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Eventi</a>

    <!-- Form di ricerca -->
    <div class="d-flex ms-auto align-items-center">
      <input class="form-control me-2" type="search" placeholder="Cerca" />
      <button class="btn btn-outline-primary me-3" type="button">Cerca</button>

      <!-- Link Accedi -->
      <a class="btn btn-outline-secondary" routerLink="/login">Accedi</a>
    </div>
  </div>
</nav>
